{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}EM-Tippspiel - Anmeldung {% endblock %}

{% block content %}
<p><strong>{{ error_message }}</strong></p>
<form method="POST" action="/login/">{% csrf_token %}
    <p>{{ form|crispy }}</p>
    <p><input class="btn btn-default" type="submit" value="{% trans "Einloggen" %}" name="submit">
    <input type="submit" class="btn btn-warning" value="{% trans "Password vergessen" %}" name="ForgotPW"></p>
</form>

{% endblock %}
